
<div class="container pt-5 ">
    <form [formGroup]="studentform" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="exampleInputEmail1">Name</label>
          <input type="text" class="form-control"
             formControlName="name">
          
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1">age</label>
          <input  class="form-control " 
          formControlName="age">
        </div>
        
        <button type="submit"class="btn btn-primary">Submit</button>
      </form>
</div>