
<div class="container pt-5 ">
    <form [formGroup]="editform" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="exampleInputEmail1">Name</label>
          <input type="text" class="form-control" name="name" [(ngModel)]="editform.name"
              >
          
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1">age</label>
          <input  class="form-control " 
          name="age" [(ngModel)]="editform.age">
        </div>
        
        <button type="submit"class="btn btn-primary">submit</button>
      </form>
</div>